# Environment variables
.env

# Virtual environments
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Project specific
backend/uploads/*
!backend/uploads/.gitkeep
backend/clips/*
!backend/clips/.gitkeep
backend/video_index_db/
.DS_Store

# Frontend
frontend/node_modules/
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
